* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 16px;
    font-size: 600;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: grey;
    height: 60px;
}

.more_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    margin-top: 40px;
}

.more {
    background-color: rgb(243, 215, 121);
    padding: 15px;
    flex-grow: 1;
    grid-auto-columns: auto;
}

.more3 {
    background-color: rgb(243, 215, 121);
    padding: 15px;
    width: 100%;
}

footer {
    background-color: grey;
    display: flex;
    gap: 16px;
}

.footer_item {
    background-color: rgb(214, 233, 233);
    padding: 16px;
    flex-grow: 1;
}

main {
    display: flex;
    height: calc(100vh - 60px);
}

.main {
    background-color: rgb(226, 196, 160);
    flex-grow: 3;
    padding: 16px;

}

.aside {
    background-color: rgb(176, 247, 176);
    flex-grow: 2;
    padding: 16px;

}